//colors
$primary-clr: hsl(199, 77%, 74%);
$accent-clr: hsl(19, 77%, 74%);
$text-clr-one: hsl(0, 0%, 15%);
$text-clr-two: hsl(0, 0%, 93%);

//fonts
$primary-text-font: 'Roboto', sans-serif;
$heading-font: 'Roboto Slab', serif;

//font weights
$slight: 300;
$bold: 700;
$mega: 900;