.bmi-calculator {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0px 11px 15px -1px rgba(255,255,255,0.1);
    font-family: 'Poppins', sans-serif;
    min-height: 38vh;
    align-self: center;
}

.calculate {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(204, 204, 204);
    color: black;
    border: none;
    transition: 250ms;
    border-radius: 0.6rem;
    margin-top: 1rem;
}

.calculate:hover {
    box-shadow: 0px 10px 13px -7px #ffffff, 5px 5px 15px 5px rgba(240,255,240,0);
    transform: translateY(-1px);
    cursor: pointer;
    background-color: white;
}

.result {
    color: white;
}

.height {
    margin-top: 1rem;
}

.weight, .height {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 8rem;
}

.result {
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 1000px) {
    .bmi-calculator {
        width: 30rem;
    }
}